# Imports

In [ ]:
# Data manipulation libraries
import pandas as pd
import numpy as np

# File and system libraries
import gzip
import shutil
import os

print("Libraries imported successfully.")

Libraries imported successfully.

# Unzip

In [ ]:
gzipped_file_path = r'C:\\Users\\renat\\Documents\\Neurotech\\Project-4\\base_antifraude.gz'
output_file_path = 'base_antifraude.csv'

# Check if the compressed file exists before proceeding
if not os.path.exists(gzipped_file_path):
    print(f"Error: The file '{gzipped_file_path}' was not found.")
else:
    try:
        print(f"Decompressing '{gzipped_file_path}'...")

        with gzip.open(gzipped_file_path, 'rb') as f_in:
            with open(output_file_path, 'wb') as f_out:
                # Copy the decompressed content from the input to the output file
                shutil.copyfileobj(f_in, f_out)
        
        print(f"Success! File decompressed to '{output_file_path}'")
        
    except Exception as e:
        print(f"An error occurred during decompression: {e}")

Decompressing 'C:\\Users\\renat\\Documents\\Neurotech\\Project-4\\base_antifraude.gz'...
Success! File decompressed to 'base_antifraude.csv'

# Leitura e Teste de Sanidade

In [ ]:
csv_file_path = output_file_path

try:
    data_frame = pd.read_csv(csv_file_path, sep='\t')
    
    print(f"Success! File '{csv_file_path}' loaded into a DataFrame.")
    
    display(data_frame.head())
    
except FileNotFoundError:
    print(f"Error: The file '{csv_file_path}' was not found. Please ensure the previous cell ran successfully.")
except Exception as e:
    print(f"An error occurred while reading the file: {e}")

Success! File 'base_antifraude.csv' loaded into a DataFrame.

C:\Users\renat\AppData\Local\Temp\ipykernel_19932\3777044410.py:5: DtypeWarning: Columns (203) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frame = pd.read_csv(csv_file_path, sep='\t')

,id,documento,mes_ref,alvo,vlr_financiado,VAR1,VAR2,VAR3,VAR4,VAR5,...,VAR191,VAR192,VAR193,VAR194,VAR195,VAR196,VAR197,VAR198,VAR199,VAR200
0,4db9c75f6a31c73414ad84fdd101b5d7,d92fa549809f55b4ea13caa1b108896f,202307,0.0,17820.60,0.166667,0.0,0.0,1.000000,NaN,...,0.609314,0.0,0.095790,NaN,0.066331,NaN,0.666667,0.135065,SUDESTE,0.0
1,9b07d4001632189d19de964894501e34,1af133c98723189f24bbfcb75abfcf92,202307,0.0,18513.56,0.166667,0.0,0.0,0.027211,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.666667,NaN,NORTE,0.0
2,d55b6a81203f5a5ae6f362c483f36ff1,9e95be945b56ff10dc43df22381c9002,202307,0.0,22943.80,0.000000,0.0,0.0,0.013605,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,NaN,SUL,0.0
3,f6bb36049c3b42a62dfa88c46e0f79d2,50502098d83c37b5fa60241bc4bd6641,202307,0.0,19177.58,0.083333,0.0,0.0,0.020408,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.833333,NaN,NORTE,0.0
4,2755ed6330b4980ea24faa1081183dc7,aad24a7552d24b46188103f4249f17e7,202307,0.0,16644.85,0.000000,0.0,0.0,0.000000,NaN,...,0.045513,NaN,0.532964,NaN,NaN,NaN,0.500000,NaN,NORDESTE,0.0

In [ ]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cell to load the data.")
else:
    print("--- Shape Validation ---")
    
    expected_rows = 47732
    expected_cols = 205
    
    actual_rows, actual_cols = data_frame.shape
    
    print(f"Actual shape: {data_frame.shape}")
    print(f"Expected shape: ({expected_rows}, {expected_cols})")
    
    if actual_rows == expected_rows and actual_cols == expected_cols:
        print("✅ Shape validation passed!\n")
    else:
        print("⚠️ Shape validation failed!\n")

    print("--- Column Presence Validation ---")


    required_columns = ['id', 'documento', 'mes_ref', 'vlr_financiado', 'alvo']
    
    print(f"Checking for required columns: {required_columns}")
    
    missing_columns = set(required_columns) - set(data_frame.columns)
    
    if not missing_columns:
        print("✅ Column validation passed! All required columns are present.")
    else:
        print(f"⚠️ Column validation failed! Missing columns: {list(missing_columns)}")

--- Shape Validation ---
Actual shape: (47732, 205)
Expected shape: (47732, 205)
✅ Shape validation passed!

--- Column Presence Validation ---
Checking for required columns: ['id', 'documento', 'mes_ref', 'vlr_financiado', 'alvo']
✅ Column validation passed! All required columns are present.

# Limpeza Inicial

In [5]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    print("--- DataFrame Info ---")
    data_frame.info()

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47732 entries, 0 to 47731
Columns: 205 entries, id to VAR200
dtypes: float64(190), int64(1), object(14)
memory usage: 74.7+ MB

In [6]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    print("--- Descriptive Statistics for Numerical Columns ---")
    display(data_frame.describe())

--- Descriptive Statistics for Numerical Columns ---

,mes_ref,alvo,vlr_financiado,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,...,VAR190,VAR191,VAR192,VAR193,VAR194,VAR195,VAR196,VAR197,VAR198,VAR200
count,47732.000000,47732.000000,47594.000000,26947.000000,26947.000000,40926.000000,42871.000000,2.991000e+03,47389.0,6047.000000,...,8.815000e+03,18139.000000,1894.000000,2.282900e+04,2991.000000,2.238000e+03,7704.000000,35629.000000,3838.000000,44930.000000
mean,202309.288653,0.041607,19183.781266,0.201139,0.156529,0.031447,0.501378,3.063411e-01,0.0,0.275528,...,2.464883e-01,0.188585,0.057550,2.751056e-01,0.393977,2.934698e-01,0.308971,0.489437,0.259947,0.054422
std,1.646360,0.199692,5535.485493,0.253286,0.293852,0.174525,0.483991,2.127711e-01,0.0,0.203745,...,2.260249e-01,0.186897,0.178369,2.133877e-01,0.224401,2.226813e-01,0.201970,0.180096,0.189631,0.165324
min,202307.000000,0.000000,2427.880000,0.000000,0.000000,0.000000,0.000000,5.601228e-07,0.0,0.000063,...,1.414208e-07,0.000025,0.000000,2.200547e-07,0.000001,3.038740e-07,0.000001,0.000000,0.000062,0.000000
25%,202308.000000,0.000000,15742.620000,0.000000,0.000000,0.000000,0.000000,1.429320e-01,0.0,0.125406,...,8.405769e-02,0.059845,0.000000,1.235316e-01,0.218558,1.078872e-01,0.163283,0.333333,0.130120,0.000000
50%,202309.000000,0.000000,18836.810000,0.083333,0.000000,0.000000,0.476190,2.626918e-01,0.0,0.229391,...,1.814668e-01,0.128681,0.000000,2.230746e-01,0.377240,2.409756e-01,0.277927,0.500000,0.211768,0.000000
75%,202311.000000,0.000000,22276.500000,0.333333,0.000000,0.000000,1.000000,4.208740e-01,0.0,0.352966,...,3.314579e-01,0.259011,0.000000,3.699415e-01,0.561068,4.509163e-01,0.409290,0.500000,0.336232,0.000000
max,202312.000000,1.000000,91283.650000,1.000000,1.000000,1.000000,1.000000,1.000001e+00,0.0,1.000063,...,1.000000e+00,1.000025,1.000000,1.000000e+00,1.000001,1.000000e+00,1.000001,1.000000,1.000062,1.000000

In [ ]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    print("--- Total Null Values per Column ---")
    
    null_counts = data_frame.isnull().sum()
    
    display(null_counts[null_counts > 0])
    
    print("\n" + "="*50 + "\n") # Separator for clarity
    
    print("--- Top 20 Columns with the Most Null Values ---")
    display(null_counts.sort_values(ascending=False).head(20))

--- Total Null Values per Column ---

vlr_financiado      138
VAR1              20785
VAR2              20785
VAR3               6806
VAR4               4861
                  ...
VAR196            40028
VAR197            12103
VAR198            43894
VAR199             6806
VAR200             2802
Length: 201, dtype: int64

==================================================

--- Top 20 Columns with the Most Null Values ---

VAR87     47676
VAR24     47406
VAR157    47263
VAR121    47258
VAR148    46926
VAR60     46891
VAR21     46855
VAR178    46855
VAR72     46628
VAR27     46508
VAR74     46503
VAR169    46499
VAR118    46410
VAR137    46296
VAR47     46244
VAR53     46244
VAR143    46231
VAR55     46089
VAR162    46089
VAR77     46032
dtype: int64

In [ ]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    column_to_check = 'alvo'

    if column_to_check not in data_frame.columns:
        print(f"Error: Column '{column_to_check}' does not exist in the DataFrame.")
        print(f"Available columns are: {data_frame.columns.tolist()}")
    else:
        nan_count = data_frame[column_to_check].isnull().sum()
        
        if nan_count > 0:
            total_rows = len(data_frame)
            
            nan_percentage = (nan_count / total_rows) * 100
            
            print(f"Analysis for column: '{column_to_check}'")
            print(f"Number of NaN values: {nan_count}")
            print(f"Percentage of total rows: {nan_percentage:.2f}%")
        else:
            print(f"✅ Column '{column_to_check}' has no NaN values.")

In [8]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    total_rows = len(data_frame)
    threshold = total_rows * 0.5
    
    null_counts = data_frame.isnull().sum()
    
    columns_to_drop = null_counts[null_counts > threshold].index.tolist()
    
    if columns_to_drop:
        print(f"Threshold for dropping is > {int(threshold)} null values.")
        print(f"Found {len(columns_to_drop)} columns to remove: {columns_to_drop}")
        
        # We are modifying the original dataframe in this step
        data_frame.drop(columns=columns_to_drop, inplace=True)
        
        print(f"\nColumns removed successfully.")
        print(f"New DataFrame shape: {data_frame.shape}")
        
    else:
        print("No columns found with more than 50% null values.")

    print("\n" + "="*50 + "\n")
    print("--- Re-evaluating Null Values After Removal ---")
    
    remaining_null_counts = data_frame.isnull().sum()
    columns_with_remaining_nulls = remaining_null_counts[remaining_null_counts > 0]
    num_cols_with_nulls = len(columns_with_remaining_nulls)
    
    if num_cols_with_nulls > 0:
        print(f"There are now {num_cols_with_nulls} columns with remaining null values.")
        display(columns_with_remaining_nulls.sort_values(ascending=False))
    else:
        print("✅ No more columns with null values remain in the dataset.")

Threshold for dropping is > 23866 null values.
Found 139 columns to remove: ['VAR5', 'VAR7', 'VAR8', 'VAR9', 'VAR12', 'VAR13', 'VAR14', 'VAR15', 'VAR16', 'VAR17', 'VAR19', 'VAR20', 'VAR21', 'VAR23', 'VAR24', 'VAR25', 'VAR26', 'VAR27', 'VAR28', 'VAR29', 'VAR30', 'VAR34', 'VAR35', 'VAR37', 'VAR38', 'VAR39', 'VAR40', 'VAR42', 'VAR43', 'VAR45', 'VAR46', 'VAR47', 'VAR48', 'VAR49', 'VAR50', 'VAR51', 'VAR53', 'VAR54', 'VAR55', 'VAR56', 'VAR57', 'VAR59', 'VAR60', 'VAR61', 'VAR64', 'VAR65', 'VAR67', 'VAR68', 'VAR71', 'VAR72', 'VAR73', 'VAR74', 'VAR75', 'VAR77', 'VAR79', 'VAR80', 'VAR81', 'VAR82', 'VAR83', 'VAR84', 'VAR85', 'VAR86', 'VAR87', 'VAR88', 'VAR89', 'VAR90', 'VAR91', 'VAR92', 'VAR94', 'VAR95', 'VAR96', 'VAR97', 'VAR98', 'VAR102', 'VAR105', 'VAR108', 'VAR110', 'VAR111', 'VAR113', 'VAR115', 'VAR116', 'VAR118', 'VAR120', 'VAR121', 'VAR123', 'VAR125', 'VAR126', 'VAR129', 'VAR130', 'VAR131', 'VAR133', 'VAR134', 'VAR135', 'VAR136', 'VAR137', 'VAR138', 'VAR139', 'VAR142', 'VAR143', 'VAR145', 'VAR146', 'VAR148', 'VAR149', 'VAR150', 'VAR151', 'VAR152', 'VAR156', 'VAR157', 'VAR158', 'VAR159', 'VAR160', 'VAR161', 'VAR162', 'VAR164', 'VAR165', 'VAR166', 'VAR168', 'VAR169', 'VAR170', 'VAR171', 'VAR173', 'VAR174', 'VAR176', 'VAR177', 'VAR178', 'VAR179', 'VAR181', 'VAR183', 'VAR186', 'VAR187', 'VAR189', 'VAR190', 'VAR191', 'VAR192', 'VAR193', 'VAR194', 'VAR195', 'VAR196', 'VAR198']

Columns removed successfully.
New DataFrame shape: (47732, 66)

==================================================

--- Re-evaluating Null Values After Removal ---
There are now 62 columns with remaining null values.

VAR31             23734
VAR127            23150
VAR119            22819
VAR33             20785
VAR36             20785
                  ...
VAR62               343
VAR114              343
VAR128              343
VAR155              343
vlr_financiado      138
Length: 62, dtype: int64

In [10]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    print("--- Distribution of Data Types in the DataFrame ---")

    dtype_counts = data_frame.dtypes.value_counts()
    
    display(dtype_counts)

--- Distribution of Data Types in the DataFrame ---

float64    51
object     14
int64       1
Name: count, dtype: int64

In [13]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    object_columns = data_frame.select_dtypes(include=['object']).columns

    print(f"--- Showing first 5 rows for the {len(object_columns)} 'object' columns ---")
    display(data_frame[object_columns].head())

--- Showing first 5 rows for the 14 'object' columns ---

,id,documento,VAR31,VAR41,VAR52,VAR100,VAR103,VAR104,VAR112,VAR119,VAR122,VAR175,VAR185,VAR199
0,4db9c75f6a31c73414ad84fdd101b5d7,d92fa549809f55b4ea13caa1b108896f,N,ALTA,F,LONGE,MEDIA,S,ALTA,C,N,A,ALTA,SUDESTE
1,9b07d4001632189d19de964894501e34,1af133c98723189f24bbfcb75abfcf92,NaN,ALTISSIMA,NaN,PROXIMO,SEM PASSAGEM,NaN,ALTISSIMA,NaN,N,NaN,ALTISSIMA,NORTE
2,d55b6a81203f5a5ae6f362c483f36ff1,9e95be945b56ff10dc43df22381c9002,N,ALTA,A,LONGE,SEM PASSAGEM,S,ALTA,L,N,A,ALTA,SUL
3,f6bb36049c3b42a62dfa88c46e0f79d2,50502098d83c37b5fa60241bc4bd6641,N,ALTA,A,PROXIMO,SEM PASSAGEM,S,ALTISSIMA,NaN,N,A,ALTISSIMA,NORTE
4,2755ed6330b4980ea24faa1081183dc7,aad24a7552d24b46188103f4249f17e7,N,MEDIA,NaN,PROXIMO,SEM PASSAGEM,S,MEDIA,M,N,NaN,MEDIA,NORDESTE

In [14]:
if 'data_frame' not in locals():
    print("Error: The 'data_frame' variable was not found. Please run the previous cells first.")
else:
    # Threshold for a column to be considered an identifier (e.g., 95% unique values)
    ID_UNIQUENESS_THRESHOLD = 0.95
    # Threshold for a column to be considered low cardinality categorical
    LOW_CARDINALITY_THRESHOLD = 50

    identifier_cols = []
    binary_cols = []
    # A dictionary to store categorical columns and their number of unique values
    low_cardinality_categorical = {}

    total_rows = len(data_frame)

    for col in data_frame.columns:
        n_unique = data_frame[col].nunique()
        unique_ratio = n_unique / total_rows

        if unique_ratio >= ID_UNIQUENESS_THRESHOLD:
            identifier_cols.append(col)
        elif n_unique == 2:
            binary_cols.append(col)
        elif n_unique <= LOW_CARDINALITY_THRESHOLD:
            low_cardinality_categorical[col] = n_unique

    print("--- Identifier Columns ---")
    print(f"Found {len(identifier_cols)} columns with >= {ID_UNIQUENESS_THRESHOLD*100}% unique values.")
    print(identifier_cols)

    print("\n--- Binary Columns ---")
    print(f"Found {len(binary_cols)} columns with 2 unique values.")
    print(binary_cols)

    print("\n--- Low Cardinality Categorical Columns (<= {LOW_CARDINALITY_THRESHOLD} unique values) ---")
    print(f"Found {len(low_cardinality_categorical)} columns for inspection.")

    sorted_low_cardinality = dict(sorted(low_cardinality_categorical.items(), key=lambda item: item[1]))
    print(sorted_low_cardinality)

--- Identifier Columns ---
Found 2 columns with >= 95.0% unique values.
['id', 'documento']

--- Binary Columns ---
Found 11 columns with 2 unique values.
['alvo', 'VAR3', 'VAR31', 'VAR63', 'VAR78', 'VAR104', 'VAR114', 'VAR122', 'VAR124', 'VAR147', 'VAR188']

--- Low Cardinality Categorical Columns (<= {LOW_CARDINALITY_THRESHOLD} unique values) ---
Found 42 columns for inspection.
{'VAR6': 1, 'VAR76': 1, 'VAR117': 1, 'VAR127': 1, 'VAR140': 1, 'VAR153': 1, 'VAR163': 1, 'VAR2': 3, 'VAR41': 4, 'VAR167': 4, 'VAR180': 4, 'VAR185': 4, 'VAR62': 5, 'VAR93': 5, 'VAR100': 5, 'VAR103': 5, 'VAR112': 5, 'VAR199': 5, 'mes_ref': 6, 'VAR36': 6, 'VAR66': 6, 'VAR69': 6, 'VAR99': 6, 'VAR155': 6, 'VAR197': 7, 'VAR101': 8, 'VAR128': 8, 'VAR33': 9, 'VAR132': 9, 'VAR52': 11, 'VAR141': 11, 'VAR175': 11, 'VAR200': 12, 'VAR1': 13, 'VAR154': 13, 'VAR58': 15, 'VAR109': 18, 'VAR119': 19, 'VAR22': 28, 'VAR172': 31, 'VAR11': 44, 'VAR70': 45}

In [15]:
if 'data_frame' not in locals() or 'identifier_cols' not in locals():
    print("Error: Required variables ('data_frame', 'identifier_cols') not found. Please run the previous cells first.")
else:
    print(f"Original DataFrame shape: {data_frame.shape}")
    
    print(f"\nRemoving {len(identifier_cols)} identifier columns...")
    data_frame.drop(columns=identifier_cols, inplace=True)
    print(f"Columns removed: {identifier_cols}")
    
    nunique_counts = data_frame.nunique()
    cols_with_one_value = nunique_counts[nunique_counts == 1].index.tolist()
    
    if cols_with_one_value:
        print(f"\nFound and removing {len(cols_with_one_value)} columns with only one unique value...")
        data_frame.drop(columns=cols_with_one_value, inplace=True)
        print(f"Columns removed: {cols_with_one_value}")
    else:
        print("\nNo columns with a single unique value were found.")

    print("\n" + "="*50)
    print(f"Final DataFrame shape after removals: {data_frame.shape}")

Original DataFrame shape: (47732, 66)

Removing 2 identifier columns...
Columns removed: ['id', 'documento']

Found and removing 7 columns with only one unique value...
Columns removed: ['VAR6', 'VAR76', 'VAR117', 'VAR127', 'VAR140', 'VAR153', 'VAR163']

==================================================
Final DataFrame shape after removals: (47732, 57)